*{ font-family:'Helvetica Neue', Arial, sans-serif; margin:0; padding:0 }
body{ background:#fff }
button, input[type=submit]{ background:#0b2f72; border:none; border-radius:2px; color:#fff; cursor:pointer; float:right; font-size:16px; padding:10px 30px }
button:hover, input[type=submit]:hover{ opacity:0.8 }
input[type=submit]{ width:auto !important }
form{ margin:0 auto }
h1, h2{ margin-bottom:10px }
h1{ background:#192846; color:#fff; float:left; font-size:24px; margin-bottom:50px; margin-left:-150px; margin-top:30px; padding:10px 40px; padding-left:150px; text-align:right }
h2{ color:#00369e; font-size:18px }
input{ color:#464646; padding:2px 0; width:98% }
input, label{ display:block; font-size:16px; margin-bottom:10px }
p{ color:#464646; font-size:16px; margin-bottom:30px; text-align:justify -webkit-font-smoothing:subpixel-antialiased }
select{ height:20px; margin-bottom:10px; width:100% }
span{ display:block; font-size:16px; margin-bottom:10px }
textarea{ height:90px; width:233px }

label{ color:#ECEFF1 }

#cotizador, #contacto{ background:#7d7d7d; border-radius:4px; margin:0 auto; padding:20px; width:235px }

#topbar{ height:36px; background:#000 }
#topbar span, #footer span{ color:#d7d7d7; float:left; font-size:15px; line-height:36px; margin:0 auto } 
#container{ background:#ebebeb; padding-top:30px !important }
#header{ height:296px; background:url('../img/header.jpg') no-repeat; margin:0 auto; width:1280px }
#header p{ font-size:40px; line-height:120px }
#logo{ height:296px; width:296px }
#logo a{ display:block; height:100%; width:100% }
#imagenc p{ font-size:30px; line-height:120px }
#main{ margin-bottom:20px; padding:30px }
#pagos p{ color:#fff; margin:15px 0; text-align:center }

#main p:last-of-type{ margin-bottom:0 }
#nav{ background: #072d74; background:-moz-linear-gradient(top,#072d74 0%,#1a2641 100%); background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#072d74),color-stop(100%,#1a2641)); background:-webkit-linear-gradient(top,#072d74 0%,#1a2641 100%); background:-o-linear-gradient(top,#072d74 0%,#1a2641 100%); background:-ms-linear-gradient(top,#072d74 0%,#1a2641 100%); background:linear-gradient(to bottom,#072d74 0%,#1a2641 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#072d74', endColorstr='#1a2641',GradientType=0 ); height:44px; margin:0 auto; padding:0 150px; width:980px; }
#nav p{ font-size:17px; line-height:44px }
#nav ul{ list-style-type:none; margin:0 auto }
#nav ul li{ float:left; font-size:16px; line-height:44px; text-align:center; width:20% }
#nav ul li:hover{ opacity:0.7 }
#nav ul li a{ color:#ECEFF1; display:block; text-decoration:none }
#footer{ background: #0c2f70; background: -moz-linear-gradient(top,  #0c2f70 0%, #182847 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c2f70), color-stop(100%,#182847));background: -webkit-linear-gradient(top,  #0c2f70 0%,#182847 100%); background: -o-linear-gradient(top,  #0c2f70 0%,#182847 100%); background: -ms-linear-gradient(top,  #0c2f70 0%,#182847 100%); background: linear-gradient(to bottom,  #0c2f70 0%,#182847 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c2f70', endColorstr='#182847',GradientType=0 ); height:165px }
#footer ul{ list-style-type:none; text-align:right; padding-top:8px }
#footer li, #footer li a{ color:#d7d7d7; font-size:13px; padding:2px }
#footer li a{ text-decoration:none }
#wrapper{ box-shadow:0px 0px 5px #888; margin:0 auto; width:1280px }

.box{ float:left; height:220px; margin-bottom:30px; padding:10px; width:446px }
.box h2{ color:#0b2f72; font-size:24px }
.fltizq{ float:left }
.inner{ padding-bottom:50px !important }
.mgrg{ margin-right:48px }
.redes{ color:#d7d7d7; cursor:pointer; display:inline-block; float:right; font-family:'ModernPics'; font-size:28px; text-align:center }

#container ul, .box ul{ padding-left:20px }
#container ul li, .box ul li, .box p{ color:#464646; font-size:13px; margin-bottom:3px; text-align:left }
#container, #footer, #imagenc, .container{ margin:0 auto; padding:0 150px; width:980px }
#imagenc{ height:120px }
#imagenc, #main{ background:#536E7A }